.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
thead{
  background-color: black;
  /* margin-top: 14px; */
  color: white;
}
.App-header {
  background-color: #FFBF00;
  height: 100px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.btn-linea{
  border: 0px;
  width: 37px;
  border-radius: 100%;
  font-weight: bold;
}
.A{
  background-color: #00BFFF;
}
.B{
  background-color: #FF0000;
}
.C{
  background-color: #0101DF;
}
.D{
  background-color: #0B610B;
}
.E{
  background-color: #6A0888;
}
.H{
  background-color: #FFBF00;
  color: black;
}
.P{
  background-color: #FFBF00;
}
.U{
  background-color: #FF8000;
}
.line-states{
  padding:0px!important;
  margin-top: 5px;
}
.table td, .table th{
  padding: 4px;
}
.line-text{
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 4px;
}